<% Cloudinary::Uploader.upload('assets/airplane.jpg',
    private_id: 'plane_hero') %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dviligmqb/image/upload/v1583478203/planes_hero.jpg)">
  <div class="container">
    <h1>Available Anywhere</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia at hic rem, ab ipsam ex magni dicta sed suscipit voluptatum fugit similique saepe in, quaerat odio, nihil illum reprehenderit quos!</p>
  </div>
</div>

<div class="container mt-3">
  <div
    id="map"
    style="width: 100%;
    height: 350px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="container">
    <div class="row ">
      <% @aircrafts.each do |aircraft| %>
      <div class="col-md-4">
        <%= link_to aircraft_path(aircraft), class: "no-deco" do %>
        <div class="card-trip mb-4">
          <%= cl_image_tag aircraft.photos[0].key %>
          <div class="card-trip-infos">
            <div>
              <h2><%= aircraft.make %></h2>
              <p><%= aircraft.model %></p>
            </div>
            <h2 class="card-trip-pricing"><%= "$#{aircraft.unit_price}" %></h2>
            <% if aircraft.user.photo.attached? %>
              <%= cl_image_tag aircraft.user.photo.key,
                crop: :thumb,
                gravity: :face,
                height: 40,
                width: 40,
                class: "card-trip-user avatar-bordered" %>
              <% else %>
                <%= cl_image_tag 'avatar',
                  crop: :thumb,
                  gravity: :face,
                  height: 40,
                  width: 40,
                  class: "card-trip-user avatar-bordered" %>
              <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

