<div class="container">
  <div class="featured-wrapper" style="background-image: url(<%= "#{cl_image_path @aircraft.photos[0].key}" %>) ">
    <h1><%= @aircraft.year %> <%= @aircraft.make %> <%= @aircraft.model %></h1>
    <h4>$<%= number_with_delimiter(@aircraft.unit_price, :delimiter => ',') %> /day</h4>
  </div>
  <div class="photos">
    <% @aircraft.photos[1..-1].each do |photo| %>
      <div>
        <%= cl_image_tag photo.key, width: 200, height: 200, crop: :fill %>
      </div>
    <% end %>
  </div>
  <div class="details-date-form">
    <div class="aircraft-details">
      <div
        id="map"
        style="width: 100%;
        height: 300px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    </div>
    <div class="date-form" id='aircraft-booking-dates' data-unavailable="<%= @aircraft.unavailable_dates.to_json %>">
      <div class="flatpickr">
        <%# if current_user.id != @flat.user_id  %>

        <%= render 'form' %>
<!-- sdfkjsdf -->
        <%# end %>
      </div>
    </div>
  </div>
  <div class="shadow-box">
    <p><strong>Number of seats:</strong> <%= @aircraft.capacity %></p>
    <p><strong>Total time:</strong> <%=  number_with_delimiter(@aircraft.hours, :delimiter => ',') %></p>
    <p><strong>Description:</strong> <%= @aircraft.description %></p>
  </div>
  <!-- Reviews -->
  <div class="shadow-box">
    <h3>Reviews</h3>
    <% if @aircraft.reviews.count > 0 %>
      <% @aircraft.reviews.each do |review| %>
        <p><%= review.created_at.strftime('%B %Y') %></p>
        <p><%= review.content %></p>
        <p id="stars"><% review.rating.times do  %>
          <i class="fas fa-star"></i>
        <% end %></p>
      <% end %>
    <% else %>
      <p>There are no reviews yet.</p>
    <% end %>
  </div>
</div>

