<% if user.aircrafts.count < 1 %>
<div class="d-flex justify-content-center my-5">
  <%= link_to 'Add an Aircraft', new_aircraft_path, class: "nav-custom grey" %>
</div>
<% else %>

  <div class="container">
    <% user.aircrafts.each do |aircraft| %>
    <div class="card-product">
      <%= cl_image_tag aircraft.photos[0].key %>
      <div class="card-product-infos">
        <div class="card-top-info">
          <div>
            <h3><%= aircraft.make %></h3>
            <h3><%= aircraft.model %></h3>
            <h2 class="booking-card-price"><%= "$#{aircraft.unit_price}" %></h2>
          </div>
        </div>
            <% aircraft.bookings.each do |booking| %>
            <div class="opacity">
              <div>
                <h2>Booking Detials</h2>
                <p><%= booking.user.email %> - <%= booking.id %></p>
              </div>

            <div class="d-flex my-3">
              <% if booking.confirm %>
                <% if policy(booking).show? %>
                  <%= link_to 'Status: Booked!', booking_path(booking), class: "nav-link nav-custom grey" %>
                <% end %>
              <% elsif booking.nil? %>
              <% else %>
                  <% if policy(booking).show? %>
                    <%= link_to 'View details', booking_path(booking), class: "nav-link nav-custom grey" %>
                <% end %>
                <% if policy(booking).update? %>
                  <%= link_to 'Confirm?', booking_path(booking, booking: {confirm: true}), class: "nav-link nav-custom grey", method: :patch, data: { confirm: "DO IT!"} %>
                <% end %>
                <% if policy(booking).destroy? %>
                  <%= link_to "Delete Request", booking_path(booking), class: "nav-link nav-custom grey",
                          method: :delete,
                          data: { confirm: "Confirm you would like to delete booking request" } %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
