<div class="form-container">
  <%= simple_form_for @user do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :favorite %>
    <%= f.input :content %>

    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    <%= f.submit %>
  <% end %>
</div>


