<div class="container">
  <div class="header">
    <h3>YOUR AIRCRAFTS</h3>
  </div>

  <div class="content" id="aircrafts">
    <% if user.aircrafts.count < 1 %>
      <p>YOU DON'T HAVE ANY AIRCRAFTS LISTED... :(</p>
    <% else %>
      <div class="">
        <% user.aircrafts.each do |aircraft| %>
          <div class="card-product">
            <%= cl_image_tag aircraft.photos[0].key %>

            <div class="card-product-infos p-4 flex-one">
              <div id="aircraft-makemodel">
                <h3><%= aircraft.make %> <%= aircraft.model %></h3>
              </div>
              <div id="aircraft-pricing">
                <h2><%= "$#{aircraft.unit_price}" %></h2>
              </div>
              <div id="aircraft-description">
                <p><%= aircraft.description %></p>
              </div>
            </div>

            <div class="card-product-controls">
              <div id="aircraft-edit">
                <% if policy(aircraft).update? %>
                  <div>
                    <%= link_to icon('far', 'edit',
                      class: 'fa-lg'),
                        "#{aircraft.id}#aircraftEditModalCenter",
                        id: 'aircraft-edit-btn',
                        class: 'aircraft-btn',
                        data: { toggle: 'modal',
                                id: aircraft.id,
                                info: aircraft.to_json,
                                target: '#aircraftEditModalCenter' } %>
                  </div>
                <% end %>
              </div>

              <div id="aircraft-destroy">
                <% if policy(aircraft).destroy? %>
                  <div class="d-flex">
                    <%= link_to icon('fas', 'trash',
                      class: 'fa-lg'),
                        aircraft_path(aircraft.id),
                        method: :delete,
                        id: 'aircraft-delete-btn',
                        class: 'aircraft-btn',
                        data: { confirm: 'ARE YOU SURE?'} %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <%= render 'aircraft_edit_modal',
            aircraft: aircraft %>
          <% end %> <!-- END OF AIRCRAFTS LOOP -->
      </div>
    <% end %> <!-- END OF IF ELSE -->
  </div>

  <div id="aircrafts-create">

  </div>
</div>


