<div class="container d-flex justify-content-center my-3">
  <h3>YOUR AIRCRAFTS</h3>
</div>
<div class="d-flex justify-content-center my-5">
<div class="d-flex justify-content-center my-5">
  <a href="#new-aircraft-form" type="button" class="nav-custom grey" data-toggle="modal">Add Owned Aircraft</a>
</div>
</div>

<div class="modal fade" id="new-aircraft-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <% if policy(@aircraft).create? %>
          <h5 class="modal-title" id="exampleModalLongTitle">Add New Listing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <% end %>
      </div>

      <div class="modal-body">
        <%= render 'aircrafts/aircraft_form', aircraft: Aircraft.new %>
      </div>
    </div>
  </div>
</div>
<% if user.aircrafts.count < 1 %>
<div class="d-flex justify-content-center my-5">
  <p>you dont have any aircrafts :(</p>
</div>
<% else %>
  <div class="container">
      <% user.aircrafts.each do |aircraft| %>
        <div class="card-product">
          <%= cl_image_tag aircraft.photos[0].key %>
            <div class="card-trip-infos p-4 flex-one">
              <div class="card-top-info">
                <div>
                  <h3><%= aircraft.make %></h3>
                  <h3><%= aircraft.model %></h3>
                  <h2 class="card-trip-pricing"><%= "$#{aircraft.unit_price}" %></h2>
                </div>
                <div>
                  <% if policy(aircraft).destroy? %>
                    <div class="d-flex">
                    <%= link_to 'Destroy', aircraft, class: "nav-link nav-custom", method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                  <% if policy(aircraft).update? %>
                    <button class="edit-modal-btn nav-link nav-custom" data-info="<%= aircraft.to_json %>" data-id="<%= aircraft.id %>" type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-aircraft-form">
                    Edit
                    </button>
                    </div>
                  <% end %>
                    </div>
                  </div>
                    <p><strong>Description</strong></p>
                    <p><%= aircraft.description %></p>
                </div>
          <% end %>
        </div>
    <div class="modal fade" id="edit-aircraft-form" tabindex="-1" role="dialog" aria-labelledby="editModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLongTitle">Edit Listing</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'aircrafts/aircraft_form', aircraft: Aircraft.last %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>


