<div class="container">
  <div class="header">
    <h3>YOUR AIRCRAFTS</h3>
  </div>

  <div class="content" id="aircrafts">
    <% if user.aircrafts.count < 1 %>
      <p>YOU DON'T HAVE ANY AIRCRAFTS LISTED... :(</p>
    <% else %>
      <div class="">
        <% user.aircrafts.each do |aircraft| %>
          <div class="card-product">
            <%= cl_image_tag aircraft.photos[0].key %>
            <div class="card-trip-infos p-4 flex-one">
              <div class="card-top-info">
                <div>
                  <h3><%= aircraft.make %></h3>
                  <h3><%= aircraft.model %></h3>
                  <h2 class="card-trip-pricing">
                    <%= "$#{aircraft.unit_price}" %>
                  </h2>
                </div>
                <div>
                  <% if policy(aircraft).destroy? %>
                    <div class="d-flex">
                      <%= link_to 'DESTROY',
                        aircraft,
                        class: "nav-link nav-custom",
                        method: :delete,
                        data: { confirm: 'ARE YOU SURE?'} %>
                    </div>
                  <% end %>
                  <% if policy(aircraft).update? %>
                    <div>
                      <button class="edit-modal-btn nav-link nav-custom" data-info="<%= aircraft.to_json %>" data-id="<%= aircraft.id %>" type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-aircraft-form">
                      UPDATE/EDIT
                      </button>
                    </div>
                  <% end %>
                </div>
              </div>
              <p>DESCRIPTION:</p>
              <p><%= aircraft.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>

  <div id="list-aircraft">

  </div>
</div>


