<div class="container" id="user-details">
  <div id="user-image">
    <% if user.photo.attached? %>
      <%= cl_image_tag user.photo.key,
        crop: :thumb,
        gravity: :face,
        height: 150,
        width: 150,
        class: "avatar-large"  %>
    <% else %>
      <%= link_to ( cl_image_tag 'avatar',
        crop: :thumb,
        gravity: :face,
        height: 150,
        width: 150,
        class: "avatar-large" ),
          "#{user_path}#editUserModalCenter",
          class: "update-user update-user-img" %>
    <% end %>
  </div>
  <div id="user-information">
    <div class="content-item" id="content-first-name">
      <div class="header">
        FIRST NAME:
      </div>
      <div class="content">
        <% if user.first_name == "" || user.first_name.nil? %>
          <p style="color:#D3D3D3;opactiy:0.5;">
            <%= link_to 'Update your details...',
                        "#{user_path}#editUserModalCenter",
                        class: "update-user update-user-btn" %>
          </p>
        <% else %>
          <p><%= user.first_name %></p>
        <% end %>
      </div>
    </div>
    <div class="content-item" id="content-last-name">
      <div class="header">
        LAST NAME:
      </div>
      <div class="content">
        <% if user.last_name == "" || user.last_name.nil? %>
          <p style="color:#D3D3D3;opactiy:0.5;">
            <%= link_to 'Update your details...',
                        "#{user_path}#editUserModalCenter",
                        class: "update-user update-user-btn" %>
          </p>
        <% else %>
          <p><%= user.last_name %></p>
        <% end %>
      </div>
    </div>
    <div class="content-item" id="content-email">
      <div class="header">
        EMAIL:
      </div>
      <div class="content">
        <p><%= user.email %></p>
      </div>
    </div>
    <div class="content-item" id="content-favourite">
      <div class="header">
        FAVOURITE AIRFRAME:
      </div>
      <div class="content">
        <% if user.favorite == "" || user.favorite.nil? %>
          <p style="color:#D3D3D3;opactiy:0.5;">
            <%= link_to 'Update your details...',
                        "#{user_path}#editUserModalCenter",
                        class: "update-user update-user-btn" %>
          </p>
        <% else %>
          <p><%= user.favorite %></p>
        <% end %>
      </div>
    </div>
    <div class="content-item" id="content-content">
      <div class="header">
        ABOUT:
      </div>
      <div class="content">
        <% if user.content == "" || user.content.nil? %>
          <p style="color:#D3D3D3;opactiy:0.5;">
            <%= link_to 'Update your details...',
                        "#{user_path}#editUserModalCenter",
                        class: "update-user update-user-btn" %>
          </p>
        <% else %>
          <p><%= user.content %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
