<div class="user-details border-bottom d-flex">
  <div class="user-details-heading">
    <p>FIRST NAME:</p>
  </div>
  <div>
    <% if user.first_name == "" || user.first_name.nil? %>
    <p style="color:#D3D3D3;opactiy:0.5;">Update your details...</p>
    <% else %>
      <p><%= user.first_name %></p>
    <% end %>
  </div>
</div>
<div class="user-details border-bottom d-flex">
  <div class="user-details-heading">
    <p>LAST NAME:</p>
  </div>
  <div>
    <% if user.last_name == "" || user.last_name.nil? %>
    <p style="color:#D3D3D3;opactiy:0.5;">Update your details...</p>
    <% else %>
      <p><%= user.last_name %></p>
    <% end %>
  </div>
</div>
<div class="user-details border-bottom d-flex">
  <div class="user-details-heading">
    <p>FAVOURITE AIRFRAME:</p>
  </div>
  <div>
    <% if user.favorite == "" || user.favorite.nil? %>
      <p style="color:#D3D3D3;opactiy:0.5;">Update your details...</p>
    <% else %>
      <p><%= user.favorite %></p>
    <% end %>
  </div>
</div>
<div class="user-details border-bottom d-flex">
  <div class="user-details-heading">
    <p>BIO:</p>
  </div>
  <div>
    <% if user.content == "" || user.content.nil? %>
    <p style="color:#D3D3D3;opactiy:0.5;">Update your details...</p>
    <% else %>
      <p><%= user.content %></p>
    <% end %>
  </div>
</div>
<div class="user-details border-bottom d-flex">
  <div class="user-details-heading">
    <p>EMAIL:</p>
  </div>
  <div>
    <p><%= user.email %></p>
  </div>
</div>

