<h3>YOUR AIRCRAFTS</h3>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-aircraft-form">
  Add Listing
</button>

<div class="modal fade" id="new-aircraft-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Listing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= render 'aircrafts/aircraft_form', aircraft: Aircraft.new %>
      </div>
    </div>
  </div>
</div>
<% if user.aircrafts.count < 1 %>
  <p>you dont have any aircrafts :(</p>

<% else %>
  <div class="container">
    <div class="row">
      <% user.aircrafts.each do |aircraft| %>
        <div class="col-md-4">
          <button class="edit-modal-btn" data-info="<%= aircraft.to_json %>" data-id="<%= aircraft.id %>" type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-aircraft-form">
          Edit
          </button>
          <%= link_to 'delete', aircraft_path(aircraft), method: :DELETE %>
          <%= link_to aircraft_path(aircraft), class: 'no-deco' do %>
            <div class="card-trip mb-2">
              <div>
              </div>
              <%= cl_image_tag aircraft.photos[0].key,
                width: 400,
                height: 300,
                crop: :fill %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= aircraft.make %></h2>
                    <p><%= aircraft.model %></p>

                    <% aircraft.bookings.each do |booking| %>
                      <% if booking.confirm %>
                         <%= link_to 'Status: Booked!', booking_path(booking) %>
                      <% elsif booking.nil? %>
                          <p>No current bookings! Mark as booked?</p>
                          <%= simple_form_for booking do |f| %>
                            <%= f.input :confirm, as: :boolean, checked_value: true, unchecked_value: false %>
                            <%= f.button :submit %>
                          <% end %>
                      <% else %>
                        <%= link_to 'Booking Request: View details', booking_path(booking) %>
                          <!-- insert confirm booking function here -->
                          <%= simple_form_for booking do |f| %>
                            <%= f.input :confirm, as: :boolean, checked_value: true, unchecked_value: false %>
                            <%= f.button :submit %>
                          <% end %>
                          <p><%= link_to "Deny Booking Request", booking_path(booking),
                                method: :delete,
                                data: { confirm: "Are you sure?: THINK OF THE $$$$" } %></p>
                      <% end %>
                    <% end %>
                  </div>

                  <h2 class="card-trip-pricing"><%= "$#{aircraft.unit_price}" %></h2>
                  <% if aircraft.user.photo.attached? %>
                    <%= cl_image_tag aircraft.user.photo.key,
                      crop: :thumb,
                      gravity: :face,
                      height: 40,
                      width: 40,
                      class: "card-trip-user avatar-bordered" %>
                  <% else %>
                      <%= cl_image_tag 'avatar',
                        crop: :thumb,
                        gravity: :face,
                        height: 40,
                        width: 40,
                        class: "card-trip-user avatar-bordered" %>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>



    <div class="modal fade" id="edit-aircraft-form" tabindex="-1" role="dialog" aria-labelledby="editModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLongTitle">Edit Listing</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'aircrafts/aircraft_form', aircraft: Aircraft.last %>
            </div>
          </div>
        </div>
      </div>


      <% end %>
    </div>
  </div>
<% end %>

