<div class="banner-wrapper">
  <div class="container d-flex align-items-center justify-center mx-auto">
    <div>
      <h1>The Mile High Club</h1>
      <p>Travel like royalty, not peasantry</p>
      <div class="py-3">
        <%= link_to "Explore", aircrafts_path, class: "button" %>
        <%= link_to "Sign Up", new_user_registration_path,  class: "button" %>
      </div>
      <div class="py-3">
        <% unless current_user %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
        <% else %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<div class="container">
  <div class="d-flex">
    <div>
      <h3>Explore</h3>
    </div>
    <div>
      <h3>Lease</h3>
    </div>
      <h3></h3>
  </div>
</div>
